body{
	padding: 0;
	margin: 0;
}
.Home{
	background-image: url(..//images/nav1.png);
	background-size: cover;
	height:0px;
}
header{
	background-color: #111;
}
header nav{
	max-width: 1200px;
	margin: 0 auto;
}
header nav ul{
	padding: 0;
	margin: 0;
	float: right;
}
header nav ul li{
	list-style: none;
	float: left;
}
header nav ul li a{
	color:orange;
	padding: 20px;
	float: left;
	font-size: 25px;
	text-decoration: none;
}
header nav ul li a:hover{
	color: #f20f57;
}
.me{
	color: white;
    padding-top:310px;
    margin-left: 400px;
    font-size: 50px;
    font-style:sans-serif;
	 font-weight: bolder;
}
.me3{
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  margin-bottom:900px;
  font-size: 30px;
  color:orange;
  margin-left: 60px;
}

.About{
	background-color: white}
.who{
	color:gray;
	color: orange;
    padding-top:200px;
    margin-left: 100px;
    font-size: 35px;
}
.about{
	color:black;
	margin-left:100px;
	font-size: 20px;
}
.per{
	color: orange;
    padding-bottom:30px;
    margin-right: 100px;
    font-size: 35px;
    float:right;
  }
.val{
	color: orange;
    padding-bottom:5px;
    margin-left:50px;
    font-size: 35px;
}
.ul2{
	list-style: none;
	margin-bottom:100px;
}
.cont{
    color:black;
	margin-left:200px;
	font-size: 20px;
	float:right;
}
header nav ul li{
	/*list-style: none;*/
	float: left;
	text-decoration: none;
	list-style-position: outside;
}
header nav img{
	width: 50%;
	float: right;
}
img {
    max-width:100%;
    height:auto;
}
h1{
	color: orange;
	font-weight: bolder;
	font-size: 30px;
}
h3{
	color: #404244;
	font-weight: 900;
	font-size: 20px;
}
.Content{
	background-color: white;

}
.nav{
	color: orange;
    padding-top:100px;
    margin-left: 300px;
    font-size: 40px;
    font-style:sans-serif;
	 font-weight: bolder;
}
.one{
	padding-top:50px;
    margin-left: 300px;
    font-size: 25px;
    font-style:sans-serif;
}
.two1{
	color:orange;
	font-size: 30px;
}
.two{
	color:#414245;
	font-size:20px;
}
.ul{
	color: #404244;
	/*text-decoration: none;
	list-style: none;
*/	font-size: 20px;
}
.line{
	position: absolute;
}
.para{
	margin: 30px;
	padding-left: 400px;

}


.column {
  float: left;
  width: 33.33%;
  padding: 20px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.row2{
	margin-left:50px;
	margin-bottom:0px;
}
.claa{
	color: white
}
